* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
}
header {
  height: 10vh;
  border-bottom: 2px solid black;
}
main {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  color: #33322e;
}

.contentbox {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
}

#contentbox-left {
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Poppins", sans-serif;
  color: rgb(31, 31, 31);
  margin: 2em 2em;
}

#notes-img {
  position: relative;
  bottom: 6vh;
  left: 1vw;
}

#heading-left {
  font-size: 6em;
  font-weight: 600;
  height: min-content;
}
#contentbox-left .heading-general,
#heading-left,
.learn-more {
  position: relative;
  bottom: 11vh;
  left: 5vw;
}

#contentbox-left .heading-general,
.learn-more {
  bottom: 15vh;
}

/* Button Learn More */
.learn-more {
  position: relative;
  cursor: pointer;
  outline: none;
  /* margin-top: 2em; */

  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;

  border: 2px solid black;
  border-radius: 2rem;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;

  background: #282936;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  /* background: #fff; */
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  /* line-height: 1.6; */
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}
/* Learn More ends */

.content {
  display: flex;
  flex-direction: column;
  background-color: #f9f3e5;
  border: 4px solid black;
  width: 60%;

  border-radius: 1.5em;
  box-shadow: 13px 13px 3px 5px rgba(0, 0, 0, 0.65);

  height: fit-content;
  padding: 2em;
  margin: 0.5em;
  margin-top: 2em;
}

.heading-general {
  font-size: 2.1em;
  padding: 0.3em;
}

hr {
  height: 4px;
  border: 2px solid black;
  background-color: black;
}
.note {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.15em;
  width: 100%;
  margin: 1em 0;
}

/* Check List for Notes */
#checklist {
  --check: #4f29f0;
  --disabled: #c3c8de;
  --width: 100px;
  --height: fit-content;
  --border-radius: 10px;
  width: 80%;
  position: relative;
  display: grid;
  grid-template-columns: 1.87em auto;
  align-items: center;
}
#checklist label {
  color: var(--text);
  position: relative;
  cursor: pointer;
  display: grid;
  align-items: center;
  width: fit-content;
  transition: color 0.3s ease;
}
#checklist label::before,
#checklist label::after {
  content: "";
  position: absolute;
}
#checklist label::before {
  height: 2px;
  width: 8px;
  left: -27px;
  background: var(--check);
  border-radius: 2px;
  transition: background 0.3s ease;
}
#checklist label:after {
  height: 4px;
  width: 4px;
  top: 8px;
  left: -25px;
  border-radius: 50%;
}
#checklist input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  background: var(--background);
  display: grid;
  align-items: center;
}
#checklist input[type="checkbox"]::before,
#checklist input[type="checkbox"]::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: var(--check);
  border-radius: 2px;
}
#checklist input[type="checkbox"]::before {
  width: 0px;
  right: 60%;
  transform-origin: right bottom;
}
#checklist input[type="checkbox"]::after {
  width: 0px;
  left: 40%;
  transform-origin: left bottom;
}
#checklist input[type="checkbox"]:checked::before {
  animation: check-01 0.4s ease forwards;
}
#checklist input[type="checkbox"]:checked::after {
  animation: check-02 0.4s ease forwards;
}
#checklist input[type="checkbox"]:checked + label {
  color: var(--disabled);
  animation: move 0.3s ease 0.1s forwards;
}
#checklist input[type="checkbox"]:checked + label::before {
  background: var(--disabled);
  animation: slice 0.4s ease forwards;
}
#checklist input[type="checkbox"]:checked + label::after {
  animation: firework 0.5s ease forwards 0.1s;
}
@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }
  100% {
    padding-right: 4px;
  }
}
@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}
@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }
  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}
@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }
  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}
@keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0,
      0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0,
      14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0,
      -14px -8px 0 0px #4f29f0;
  }
}

/* Submit a note input */

.form-label {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-left: 3rem;
  /* margin-top: 0.7rem; */
  cursor: pointer;

  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form-input {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 2em auto;
  padding: 0.5em 1em;
  border: none;
  border-radius: 1.5em;

  background-color: rgb(255, 255, 255);
  width: 80%;
  display: block;
  
  transition: all 0.3s;
}

.form-input:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  /*-webkit-transform: translateY(-4rem);*/
  transform: translateY(-4rem);
}

#add-task-btn {
  display: none;
}

.input-edit
{
  font-family: "Roboto", sans-serif;
  font-size: 1.15rem;
  padding: 0.6em;
  border: none;
  border-radius: 1.5em;
  background-color: rgb(255, 255, 255);
  transition: linear all 0.3s;
}

.btns
{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modify-btns
{
  background-color: inherit;
  border: 0;
  margin: 0.2rem;
  cursor: pointer;
}


.save-btn
{
  display: none;
}