@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap");

:root {
  --blue: #1e3138;
  --lightBlue: #00c3ce;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  background-color: grey;
}

/* Navbar */
nav,
.navbar-section {
  padding: 0.8em;
  display: flex;
  justify-content: space-between;
}
.navbar-section   {
  /* justify-content: flex-end; */
}
nav {
  padding: 0.2em 4%;
  max-height: 10vh;
  font-family: "Open Sans", "Noto Sans", Helvetica, sans-serif;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.23);
  background-color: var(--blue);
}

.navbar-items {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: white;
  padding: 0.3em;
}

.navbar-items:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;

  background-color: var(--lightBlue);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar-items:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* header {
  height: 10vh;
  border-bottom: 2px solid black;
} */

main {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  margin-top: 2%;
  color: #33322e;
}
.unsupported {
  display: none;
}

.contentbox {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
}

#contentbox-left {
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Poppins", sans-serif;
  color: rgb(31, 31, 31);
  margin: 2em 2em;
}

#notes-img {
  position: relative;
  bottom: 6vh;
  left: 1vw;
}

#heading-left {
  font-size: 6em;
  font-weight: 600;
  height: min-content;
}
#contentbox-left .heading-general,
#heading-left,
.learn-more {
  position: relative;
  bottom: 11vh;
  left: 5vw;
}

#contentbox-left .heading-general,
.learn-more {
  bottom: 15vh;
  margin-left: 5px;
}

/* Button Learn More */
.learn-more {
  position: relative;
  cursor: pointer;
  outline: none;
  /* margin-top: 2em; */

  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;

  border: 2px solid black;
  border-radius: 2rem;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;

  background: var(--blue);
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  /* background: #fff; */
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  /* line-height: 1.6; */
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}
/* Learn More ends */

.content {
  display: flex;
  flex-direction: column;
  background-color: #f9f3e5;
  border: 4px solid black;
  width: 70%;

  border-radius: 1.5em;
  box-shadow: 13px 13px 3px 5px rgba(0, 0, 0, 0.65);

  height: fit-content;
  padding: 1.8em;
  margin: 0.5em;
  margin-top: 2em;
}

.heading-general {
  font-size: 2.1em;
  padding-bottom: 0.3em;
}

hr {
  height: 1px;
  margin-bottom: 1em;
  border: 1.5px solid black;
  background-color: black;
}
.note {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.15em;
  width: 100%;
  margin: 1em 0;
}

/* Check List for Notes */
#checklist {
  --check: #4f29f0;
  --disabled: #c3c8de;
  --width: 100px;
  --height: fit-content;
  --border-radius: 10px;
  width: 80%;
  position: relative;
  display: grid;
  grid-template-columns: 1.87em auto;
  align-items: center;
}
#checklist label {
  color: var(--text);
  position: relative;
  cursor: pointer;
  display: grid;
  align-items: center;
  width: fit-content;
  transition: color 0.3s ease;
}
#checklist label::before,
#checklist label::after {
  content: "";
  position: absolute;
}
#checklist label::before {
  height: 2px;
  width: 8px;
  left: -27px;
  background: var(--check);
  border-radius: 2px;
  transition: background 0.3s ease;
}
#checklist label:after {
  height: 4px;
  width: 4px;
  top: 8px;
  left: -25px;
  border-radius: 50%;
}
#checklist input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  background: var(--background);
  display: grid;
  align-items: center;
}
#checklist input[type="checkbox"]::before,
#checklist input[type="checkbox"]::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: var(--check);
  border-radius: 2px;
}
#checklist input[type="checkbox"]::before {
  width: 0px;
  right: 60%;
  transform-origin: right bottom;
}
#checklist input[type="checkbox"]::after {
  width: 0px;
  left: 40%;
  transform-origin: left bottom;
}
#checklist input[type="checkbox"]:checked::before {
  animation: check-01 0.4s ease forwards;
}
#checklist input[type="checkbox"]:checked::after {
  animation: check-02 0.4s ease forwards;
}
#checklist input[type="checkbox"]:checked + label {
  color: var(--disabled);
  animation: move 0.3s ease 0.1s forwards;
}
#checklist input[type="checkbox"]:checked + label::before {
  background: var(--disabled);
  animation: slice 0.4s ease forwards;
}
#checklist input[type="checkbox"]:checked + label::after {
  animation: firework 0.5s ease forwards 0.1s;
}
@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }
  100% {
    padding-right: 4px;
  }
}
@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}
@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }
  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}
@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }
  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}
@keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0,
      0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0,
      14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0,
      -14px -8px 0 0px #4f29f0;
  }
}

/* Submit a note input */

.form-label {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-left: 3rem;
  /* margin-top: 0.7rem; */
  cursor: pointer;

  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form-input {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 1em auto;
  margin-top: 0;
  padding: 0.5em 1em;
  border: none;
  border-radius: 1.5em;

  background-color: rgb(255, 255, 255);
  width: 80%;
  display: block;

  transition: all 0.3s;
}

.form-input:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  /*-webkit-transform: translateY(-4rem);*/
  transform: translateY(-4rem);
}

#add-task-btn {
  display: none;
}

.input-edit {
  font-family: "Roboto", sans-serif;
  font-size: 1.15rem;
  padding: 0.6em;
  border: none;
  width: 90%;
  border-radius: 1.5em;
  background-color: rgb(255, 255, 255);
  transition: linear all 0.3s;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modify-btns {
  background-color: inherit;
  border: 0;
  margin: 0.2rem;
  cursor: pointer;
}

.save-btn {
  display: none;
}

/* Login Box */
.login-box {
  height: 100vh;
  height: max-content;
  box-shadow: none;
  text-align: center !important;
  margin: 10% 0;
}
.login-box-content {
  width: min-content;
  font-size: 90%;
  text-align: center;
  box-shadow: none;
}

.login-form {
  width: min-content;
}
.login-form-button,
.login-form input {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 1em auto auto auto;

  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
  outline: 2px solid black;

  border-radius: 1.5em;

  background-color: white;
  transition: all 0.3s;
}

.heading-login {
  font-weight: 600;
  text-align: center;
}
.login-form-btn-container {
  display: flex;
  gap: 1em;
}

footer {
  font-family: "Open Sans", "Noto Sans", Helvetica, sans-serif;
  font-size: 11pt;
  height: min-content;
}
footer#site-footer {
  margin: 0 auto;
  width: 100%;
  background: var(--blue);
  color: #a8a8a8;
}

footer#site-footer a {
  color: #a8a8a8;
}

footer#site-footer a:hover {
  color: var(--lightBlue);
}

footer#site-footer h1 {
  color: #cecece;
}

footer#site-footer section.horizontal-footer-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 2.38rem 2rem;
}

footer#site-footer section.horizontal-footer-section#footer-top-section {
  justify-content: center;
}

footer#site-footer #footer-logo {
  margin-right: auto;
  flex-shrink: 0;
}

footer#site-footer #footer-logo img {
  height: 4rem;
  position: relative;
  right: 1em;
}

footer#site-footer ul#footer-top-menu {
  padding: 0;
  margin: 0;
}

footer#site-footer ul#footer-top-menu li {
  display: inline;
  list-style-type: none;
  margin-right: 1.32rem;
  font-weight: bold;
}

footer#site-footer ul#footer-top-menu li a {
  text-decoration: none;
}

footer#site-footer .footer-top-menu-item-active {
  position: relative;
}

footer#site-footer .footer-top-menu-item-active a {
  color: #007ba6;
}

footer#site-footer .footer-top-menu-item-active a:hover {
  color: var(--lightBlue);
}

footer#site-footer .footer-top-menu-item-active::before {
  content: "";
  background: #007ba6;
  padding: 0.15rem 0;
  width: 100%;
  position: absolute;
  top: 1.68em;
}

footer#site-footer .footer-top-menu-item-active:hover::before {
  background: var(--lightBlue);
  transition-duration: 0.6s;
}

footer#site-footer #footer-buttons-container {
  margin-left: auto;
  flex-shrink: 0;
}

footer#site-footer a.footer-button {
  background: transparent;
  border: 0.15rem solid #a8a8a8;
  border-radius: 1.38rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

footer#site-footer a.footer-button:hover {
  border-color: var(--lightBlue);
}

footer#site-footer section.horizontal-footer-section#footer-middle-section {
  align-items: flex-start;
}

footer#site-footer .footer-columns {
  flex-basis: 18%;
  padding-right: 1rem;
}

footer#site-footer .footer-columns-large {
  flex-basis: 46%;
  padding-right: 2rem;
}

footer#site-footer .footer-columns h1 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 800;
}

footer#site-footer .footer-columns.footer-columns-large h1 {
  font-size: 1.28rem;
  margin-top: 3rem;
  margin-bottom: 1.32rem;
}

footer#site-footer .footer-columns.footer-columns-large h1:first-child {
  margin-top: 0;
}

footer#site-footer ul.footer-column-menu {
  margin: 0;
  padding: 0;
}

footer#site-footer ul.footer-column-menu li {
  list-style-type: none;
  margin-bottom: 0.68rem;
  font-size: 0.88rem;
}

footer#site-footer #footer-about address {
  font-style: normal;
  font-weight: bold;
}

footer#site-footer #footer-about address p img {
  margin-right: 0.68rem;
}

footer#site-footer #footer-about a.footer-button {
  margin-top: 0.32rem;
}

footer#site-footer section.horizontal-footer-section#footer-bottom-section {
  padding: 1.32rem 0;
  margin: 2rem 2rem 0rem 2rem;
  border-top: 0.05rem solid #666666;
}

footer#site-footer #footer-social-buttons {
  justify-self: flex-end;
  margin-left: auto;
}

footer#site-footer #footer-social-buttons img {
  margin-left: 0.68rem;
}

footer#site-footer #footer-social-buttons img:hover {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .navbar-items {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  footer#site-footer {
    width: 100%;
  }

  footer#site-footer section.horizontal-footer-section {
    flex-direction: column;
    flex-wrap: wrap;
  }

  footer#site-footer section.horizontal-footer-section div {
    flex-basis: 100%;
    width: 100%;
  }

  footer#site-footer ul li {
    display: block !important;
    padding: 1em !important;
    border-top: 1px solid #555555;
    border-bottom: none;
    border-left: none;
    border-right: none;
    font-size: 1.15rem !important;
  }

  footer#site-footer ul li:first-child {
    border-top: none;
  }

  footer#site-footer a.footer-button {
    display: block;
    text-align: center;
    max-width: 350px;
    margin: 0.32rem auto;
  }

  footer#site-footer section.horizontal-footer-section#footer-top-section div {
    margin-top: 0;
    margin-bottom: 1.68rem;
  }

  footer#site-footer #footer-logo {
    margin-right: 0;
  }

  footer#site-footer #footer-buttons-container {
    margin-left: 0;
  }

  footer#site-footer ul#footer-top-menu {
    width: 100%;
    margin: 2rem 0 0 0;
  }

  footer#site-footer .footer-top-menu-item-active::before {
    display: none;
  }

  footer#site-footer #footer-about {
    margin-bottom: 3rem;
  }

  footer#site-footer .footer-columns-large,
  footer#site-footer .footer-columns {
    padding-right: 0;
  }

  footer#site-footer .footer-columns {
    margin-top: 0;
    margin-bottom: 4rem;
  }

  footer#site-footer .footer-columns:last-child {
    margin-bottom: 0;
  }

  footer#site-footer .footer-columns h1 {
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }

  footer#site-footer ul.footer-column-menu li {
    margin-bottom: 0;
    display: block;
    text-align: center;
  }

  footer#site-footer section#footer-bottom-section div {
    text-align: center;
  }

  footer#site-footer section.horizontal-footer-section#footer-bottom-section {
    margin: 1.32rem 0;
    padding: 0;
    border-top: 0;
  }

  footer#site-footer section#footer-bottom-section #footer-social-buttons {
    margin-top: 1.32rem;
  }
}

/* FOR TABLETS AND PHONES */
@media screen and (max-width: 960px), screen and (max-height: 450px) {
  .content {
    padding: 1.4em;
    width: unset;
  }
  .modify-btns {
    margin: 0;
  }

  #notes-img {
    transform: scale(0.6);
    /* border: 2px solid black; */
    bottom: 10%;
    left: -9vw;
  }
  .form-input {
    margin: 0.5em auto;
    margin-top: 0;
  }

  #contentbox-left {
    margin: 0;
    /* font-size: 6em; */
  }

  #heading-left,
  #contentbox-left .heading-general,
  .learn-more {
    bottom: 25vh;
  }
  #heading-left {
    font-size: 4em;
    bottom: 23vh;
  }
  .heading-general {
    font-size: 1.5em;
  }
}

@media screen and (max-device-width: 540px), screen and (max-height: 450px) {
  main {
    overflow: hidden;
  }

  .mobile {
    display: block;
    text-align: center;
  }

  .unsupported {
    text-align: left;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 50%;
    height: 50%;
    color: rgba(0, 0, 0, 0.704);
    margin: 20% auto;
  }
  .unsupported img {
    transform: scale(0.4);
    position: absolute;
    left: -8.625em;
  }
  .other {
    display: none;
  }
}
