<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'css/style.css')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <header class="navbar"></header>
    <main>
      <section class="contentbox" id="contentbox-left">
        <div id="notes-img">
          <img src="/static/img/icons8-notes.svg" alt="" />
        </div>

        <div id="heading-left">
          <p>Noted.</p>
        </div>

        <p class="heading-general">Level up your note taking.</p>

        <button class="learn-more">
          <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
          <span class="button-text">learn more</span>
        </button>
      </section>

      <section class="contentbox" d="contentbox-right">
        <div class="content">
          <p id="day" class="heading-general">Monday</p>
          <hr />
          <div class="lists">
            {%for i in tasklist%}
            <div class="note">
              <div id="checklist">
                <input id="{{ i.id_ }}" type="checkbox" name="r" value="1" />
                <label for="{{ i.id_ }}">{{i.title}}</label>
              </div>

              <!-- Buttons -->

              <div class="btns">
                <form action="/delete/{{ i.id_ }}" method="post">
                  <button
                    type="submit"
                    class="modify-btns delete-btn"
                    id="{{ i.id_ }}"
                  >
                    <img src="/static/img/icons8-trash.svg" alt="delete" />
                  </button>
                </form>

                <button
                  type="submit"
                  class="modify-btns edit-btn"
                  id="{{ i.id_ }}"
                >
                  <img src="/static/img/edit.svg" alt="edit" />
                </button>

                <button
                  type="submit"
                  class="modify-btns save-btn"
                  id="{{ i.id_ }}"
                >
                  <img src="/static/img/tick.svg" alt="edit" />
                </button>
              </div>

              <!--  -->
            </div>
            {%endfor%}

            <form method="POST">
              {{ form.hidden_tag() }} {{ form.content() }}
              <label for="name" class="form-label">Add Note</label>
              {{ form.submit() }}
            </form>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer"></footer>
  </body>

  <!-- JS here because it catches the element befor it even loads. -->
  <script src="{{url_for('static', filename = 'javascript/script.js')}}"></script>
</html>
