<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'css/style.css')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <header class="navbar"></header>
    <main>
      <section class="contentbox" id="contentbox-left">
        <div id="notes-img">
          <img src="/static/icons8-notes.svg" alt="" />
        </div>

        <div id="heading-left">
          <p>Noted.</p>
        </div>

        <p class="heading-general">Level up your note taking.</p>

        <button class="learn-more">
          <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
          <span class="button-text">learn more</span>
        </button>
      </section>

      <section class="contentbox" d="contentbox-right">
        <div class="content">
          <p id="day" class="heading-general">Monday</p>
          <hr />
          <div class="lists">
            {%for i in tasklist%}

            <div class="note">
              <div id="checklist">
                <input id="01" type="checkbox" name="r" value="1" />
                <label for="01">{{i}}</label>
              </div>

              <div class="btns">
                <a href="https://en.wikipedia.org/wiki/You" target="_blank"
                  ><img src="/static/icons8-trash.svg" alt="delete"
                /></a>
                <a href="https://en.wikipedia.org/wiki/You" target="_blank"
                  ><img src="/static/edit.svg" alt="edit"
                /></a>
              </div>
            </div>
            {%endfor%}

            <form action="/" method="post">
              <input
                type="text"
                name="content"
                id="content"
                class="form-input"
                placeholder="New Note"
              />

              <label for="name" class="form-label">Add Note</label>

              <button type="submit" value="add task" id = "add-task-btn">Submit</button>
            </form>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer"></footer>

    <script>
      addNote = document.querySelector(".form-label");

      addNote.addEventListener("click", function () {
        console.log("Clicked");
        document.getElementById("add-task-btn").click();
      });
      console.log("Working");
    </script>
  </body>
</html>
